@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');
@import 'config';
@import 'utilities';

@mixin customShadow($size) {
    box-shadow: -$size $size 0 0 rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.6);
  }

* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    color: black;
    list-style: none;
}

body {
    background-color: burlywood;
}

.container {
    
    width: 80%;    
    margin: 0 auto;
    padding: 20px 0;    
    .header {        
        .logo {               
            display: flex;
            justify-content: center;
            align-items: center;        
            height: 100px;
            font-size: 55px;
            font-family: 'Archivo Narrow'; 
            a {
                border: 3px solid black;
            }           
        }
        nav {             
            background-color: rgb(108, 190, 149);
            height: 50px;
            border: 2px solid bisque;
            margin-top: 12px;
            ul {
                display: flex;       
                justify-content: center;
                align-items: center; 
                li {
                    padding: 12px 25px;
                    font-family: 'Ibarra Real Nova';
                    font-size: 20px;
                    color:#fff;
                }
            }
        }
    }    
    .left {
      position: fixed;
      font-size: 50px;
      left: -100%;
      width: 50px;
      height: 100%;           
      
      margin-left: 35px;
      ul {
        display: flex;
        flex-direction: column;
          
            li {
              margin-top: 25px;
                a {
                  width: 30px;
                }
            }        
        
      }
    } 
    .show {
      left:0;
    } 
    section {        
        display: grid;
        grid-gap: 2em;
        width: 95%;
        margin: 0 auto;
        .content {
            margin-top: 100px;
          @include customShadow(3px);
          img {
              padding: 1px;
            width: 100%;
            height: auto;
          }
          .icon {
            display: flex;
            justify-content: flex-end;
            padding:2px;
            
            
            a {
                color:#fff;
                background-color: red;
                padding:2px;
                border-radius: 5px;
                margin: 0 3px;
            }
          }
        }
    }
}


// Phone Portrait and Landscape
@media screen and (min-width: 320px) and (max-width: 480px) {
}

// Phone Portrait
@media screen and (min-width: 320px) {
}

// Phone Landscape
@media screen and (min-width: 480px) {
}

// Tablet Portrait and Landscape
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

// Tablet Portrait
@media screen and (min-width: 768px) {
  .btn {      
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr); 
  }
  section {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

// Tablet Landscape
@media screen and (min-width: 1024px) {
  section {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .btn {      
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr); 
   }
}

// Desktop
@media screen and (min-width: 1224px) {
  section {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
  .btn {      
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr); 
  }
}

// Large Desktop
@media screen and (min-width: 1824px) {
  section {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
  }
  .btn {      
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
  }
}